@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    background-color: #f5f5dc;
}


.container {
    background-color: #ffffff;
    width: 960px;
    margin: auto;
}


header, footer {
    background-color: #ffcc99;
    text-align: center;
    padding: 10px;
}


h1 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: #ff4500;
}

#boloImagem {
    width: 960px;
}

//Estilo de Receitas

table {
    width: 400px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td img {
    border-radius: 25px;
    width: 100%;
}

tr:hover {
    background-color: #f2a654;
}

// Estilo contato

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus, textarea:focus {
    background-color: #d0e9f9;
    outline: none;
    border-color: #007bff;
}
